body {
    background-color: beige ;
}

#workflow{
    padding-bottom: 20px;
}


#carouselView {
    margin-top: 20px;
}
.footer {
    margin-top: 50px;
}

#dev-txt {
    font-size:medium;
}
