/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
html, body, div{
    scroll-behavior: smooth;
}
/* Hero Section */
header {
    background: linear-gradient(45deg, #007bff, #0056b3);
    color: white;
    padding: 4rem 0;
}

/* Features Section */
#features i:hover {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#real_or_fake{
    padding-top: 50px;
}

#predictionTabs{
    display: flex;
    justify-content: space-around;
}

#predictionTabs .nav-item{
    flex :1;
}

#predictionTabs .nav-link{
    display: flex; /* Makes the link a flex container */
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers the text vertically */
    width: 100%; /* Ensures the link spans the full width of the parent */
    height: 100%; /* Ensures it matches the height of the container */
    border-radius: 0; 
    color: rgb(63, 63, 63);
}

#predictionTabs .nav-link.active {
    color: #007bff;
}
